# Backend
__pycache__/
*.py[cod]
*$py.class
*.db
backend/temp_*
backend/voice_notes/

# Frontend Assets
frontend/models/

# Node / React
node_modules/
build/

# OS Files
.DS_Store
Thumbs.db

# Local runtime logs
*.log
